/* 공통 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 박스 모델 통일 */
}

/* HTML 및 Body 초기화 */
html, body {
    width: 100%;
    height: 100%;
}

/* 리스트 초기화 */
ul, ol {
    list-style: none;
}

div, ul, li, dl {
    margin: 0;
    padding: 0;
}

/* 이미지 초기화 */
img {
    max-width: 100%; /* 이미지 크기 부모에 맞춤 */
    height: auto;
    display: block;
}

/* 테이블 초기화 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


