.mar_bot_30 {
    margin-bottom: 30px !important;
}

.mar_top_50 {
    margin-top: 50px !important;
}
.mar_top_30 {
    margin-top: 30px !important;
}
.top_1px {
    position: relative;
    top: -1px;
}
.mypage_title {
}

.spec_demoning {
    position: relative;
    background-color: #010000;
    padding-bottom: 150px;
    width: 1280px;
    margin: 0 auto;
}

.goods_cover {
    background: url(../images/promotion/demon/intro.png) 0 0 no-repeat;
    width: 100%;
    height: 0;
    padding-top: calc(1038 / 1280 * 100%);
    background-size: contain;
}

.goods_text_one {
    margin-bottom: 50px;
}

.goods_text_one img {
    margin: 0 auto;
}

.goods_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
}

.goods_item ul {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.goods_box .item {
    margin-bottom: 50px;
}

.goods_text_two {
    margin-top: 25px;
}
.goods_text_two img {
    margin: 0 auto;
}

.spec_demoning > div:nth-child(5) {
    margin-top: 50px;
}

.character_box {
    margin-top: 75px;
}

.character_box img {
    margin: 0 auto;
}

.character_box .ch_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 100px;
    box-sizing: border-box;
}